/code/*
!/code/*.cpp
/rule/*
!/rule/*.vcxproj
!/rule/*.h
!/rule/*.cpp
!/rule/*.txt

#/code/*.log
#/code/*.dsp
#/code/*.ncb
#/code/*.plg
#/code/Debug/
#  #号为注释

/Debug/
*.log
*.dsp
*.ncb
*.plg
*.dsw
*.opt