/code/*
!/code/*.cpp
!/code/*.docx
!/code/rule
/code/rule/*
!/code/rule/*.vcxproj
!/code/rule/*.h
!/code/rule/*.cpp
!/code/rule/*.txt

#/code/*.log
#/code/*.dsp
#/code/*.ncb
#/code/*.plg
#/code/Debug/
#     #号为注释

/Debug/
*.log
*.dsp
*.ncb
*.plg
*.dsw
*.opt